{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.avaza.com/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "AvazaHq"
        },
        "description": "Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth2 Implicit and Authorization flows. All connections should be encrypted over SSL/TLS <br/><br/>To use the Api from your own app you will need us to issue you an App Client ID and Secret. You can get in touch to request one, and provide us with a redirect URI.<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>We currently issue Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api currently assumes initial authentication by an Admin role user. In the future we will add support for access by other roles. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li> - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>",
        "title": "Avaza",
        "version": "v1",
        "x-apisguru-categories": [
            "collaboration"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_AvazaHq_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.avaza.com/swagger/docs/v1",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "avaza.com"
    },
    "paths": {
        "/api/Account": {
            "get": {
                "operationId": "Account_Get",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AccountID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "AllowHidingCompletedTasksOnTimesheet": {
                                            "type": "boolean"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "LockApprovedTimesheets": {
                                            "type": "boolean"
                                        },
                                        "Subdomain": {
                                            "type": "string"
                                        },
                                        "TimesheetDayOfWeek": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TimesheetDisplayFormatCode": {
                                            "type": "string"
                                        },
                                        "WeeklyTimesheetReminder": {
                                            "type": "boolean"
                                        },
                                        "has24HourTimesheetFormat": {
                                            "type": "boolean"
                                        },
                                        "hasStartEndTimesheets": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "AccountID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "AllowHidingCompletedTasksOnTimesheet": {
                                            "type": "boolean"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "LockApprovedTimesheets": {
                                            "type": "boolean"
                                        },
                                        "Subdomain": {
                                            "type": "string"
                                        },
                                        "TimesheetDayOfWeek": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TimesheetDisplayFormatCode": {
                                            "type": "string"
                                        },
                                        "WeeklyTimesheetReminder": {
                                            "type": "boolean"
                                        },
                                        "has24HourTimesheetFormat": {
                                            "type": "boolean"
                                        },
                                        "hasStartEndTimesheets": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "AccountID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "AllowHidingCompletedTasksOnTimesheet": {
                                            "type": "boolean"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "LockApprovedTimesheets": {
                                            "type": "boolean"
                                        },
                                        "Subdomain": {
                                            "type": "string"
                                        },
                                        "TimesheetDayOfWeek": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TimesheetDisplayFormatCode": {
                                            "type": "string"
                                        },
                                        "WeeklyTimesheetReminder": {
                                            "type": "boolean"
                                        },
                                        "has24HourTimesheetFormat": {
                                            "type": "boolean"
                                        },
                                        "hasStartEndTimesheets": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "AccountID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "AllowHidingCompletedTasksOnTimesheet": {
                                            "type": "boolean"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "LockApprovedTimesheets": {
                                            "type": "boolean"
                                        },
                                        "Subdomain": {
                                            "type": "string"
                                        },
                                        "TimesheetDayOfWeek": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TimesheetDisplayFormatCode": {
                                            "type": "string"
                                        },
                                        "WeeklyTimesheetReminder": {
                                            "type": "boolean"
                                        },
                                        "has24HourTimesheetFormat": {
                                            "type": "boolean"
                                        },
                                        "hasStartEndTimesheets": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read"
                        ]
                    }
                ],
                "summary": "Account Details",
                "tags": [
                    "Account"
                ]
            }
        },
        "/api/Company": {
            "get": {
                "operationId": "Company_Get",
                "parameters": [
                    {
                        "in": "query",
                        "name": "UpdatedAfter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "Number of results per page",
                        "in": "query",
                        "name": "pageSize",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "description": "1 based page number to retrieve",
                        "in": "query",
                        "name": "pageNumber",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "query",
                        "name": "Sort",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Companies": {
                                            "items": {
                                                "properties": {
                                                    "BillingAddress": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressCity": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressLine": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressPostCode": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressState": {
                                                        "type": "string"
                                                    },
                                                    "BillingCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "Comments": {
                                                        "type": "string"
                                                    },
                                                    "CompanyID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "Contacts": {
                                                        "items": {
                                                            "properties": {
                                                                "CompanyIDFK": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "CompanyName": {
                                                                    "type": "string"
                                                                },
                                                                "ContactID": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "DateCreated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "DateUpdated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Firstname": {
                                                                    "type": "string"
                                                                },
                                                                "Lastname": {
                                                                    "type": "string"
                                                                },
                                                                "Mobile": {
                                                                    "type": "string"
                                                                },
                                                                "Phone": {
                                                                    "type": "string"
                                                                },
                                                                "PositionTitle": {
                                                                    "type": "string"
                                                                },
                                                                "TimeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CurrencyCode": {
                                                        "type": "string"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DefaultTradingTermIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Fax": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "TaxNumber": {
                                                        "type": "string"
                                                    },
                                                    "website": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PageNumber": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "PageSize": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TotalCount": {
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "Companies": {
                                            "items": {
                                                "properties": {
                                                    "BillingAddress": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressCity": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressLine": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressPostCode": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressState": {
                                                        "type": "string"
                                                    },
                                                    "BillingCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "Comments": {
                                                        "type": "string"
                                                    },
                                                    "CompanyID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "Contacts": {
                                                        "items": {
                                                            "properties": {
                                                                "CompanyIDFK": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "CompanyName": {
                                                                    "type": "string"
                                                                },
                                                                "ContactID": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "DateCreated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "DateUpdated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Firstname": {
                                                                    "type": "string"
                                                                },
                                                                "Lastname": {
                                                                    "type": "string"
                                                                },
                                                                "Mobile": {
                                                                    "type": "string"
                                                                },
                                                                "Phone": {
                                                                    "type": "string"
                                                                },
                                                                "PositionTitle": {
                                                                    "type": "string"
                                                                },
                                                                "TimeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CurrencyCode": {
                                                        "type": "string"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DefaultTradingTermIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Fax": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "TaxNumber": {
                                                        "type": "string"
                                                    },
                                                    "website": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PageNumber": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "PageSize": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TotalCount": {
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "Companies": {
                                            "items": {
                                                "properties": {
                                                    "BillingAddress": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressCity": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressLine": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressPostCode": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressState": {
                                                        "type": "string"
                                                    },
                                                    "BillingCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "Comments": {
                                                        "type": "string"
                                                    },
                                                    "CompanyID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "Contacts": {
                                                        "items": {
                                                            "properties": {
                                                                "CompanyIDFK": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "CompanyName": {
                                                                    "type": "string"
                                                                },
                                                                "ContactID": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "DateCreated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "DateUpdated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Firstname": {
                                                                    "type": "string"
                                                                },
                                                                "Lastname": {
                                                                    "type": "string"
                                                                },
                                                                "Mobile": {
                                                                    "type": "string"
                                                                },
                                                                "Phone": {
                                                                    "type": "string"
                                                                },
                                                                "PositionTitle": {
                                                                    "type": "string"
                                                                },
                                                                "TimeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CurrencyCode": {
                                                        "type": "string"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DefaultTradingTermIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Fax": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "TaxNumber": {
                                                        "type": "string"
                                                    },
                                                    "website": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PageNumber": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "PageSize": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TotalCount": {
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "Companies": {
                                            "items": {
                                                "properties": {
                                                    "BillingAddress": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressCity": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressLine": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressPostCode": {
                                                        "type": "string"
                                                    },
                                                    "BillingAddressState": {
                                                        "type": "string"
                                                    },
                                                    "BillingCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "Comments": {
                                                        "type": "string"
                                                    },
                                                    "CompanyID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "Contacts": {
                                                        "items": {
                                                            "properties": {
                                                                "CompanyIDFK": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "CompanyName": {
                                                                    "type": "string"
                                                                },
                                                                "ContactID": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "DateCreated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "DateUpdated": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Firstname": {
                                                                    "type": "string"
                                                                },
                                                                "Lastname": {
                                                                    "type": "string"
                                                                },
                                                                "Mobile": {
                                                                    "type": "string"
                                                                },
                                                                "Phone": {
                                                                    "type": "string"
                                                                },
                                                                "PositionTitle": {
                                                                    "type": "string"
                                                                },
                                                                "TimeZone": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "CurrencyCode": {
                                                        "type": "string"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DefaultTradingTermIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "Fax": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "TaxNumber": {
                                                        "type": "string"
                                                    },
                                                    "website": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PageNumber": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "PageSize": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "TotalCount": {
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read"
                        ]
                    }
                ],
                "summary": "Gets list of Companies",
                "tags": [
                    "Company"
                ]
            },
            "post": {
                "operationId": "Company_Post",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
                                        "TaxNumber": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
                                        "TaxNumber": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
                                        "TaxNumber": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
                                        "TaxNumber": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write"
                        ]
                    }
                ],
                "summary": "Create a Company",
                "tags": [
                    "Company"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BillingAddress": {
                                        "type": "string"
                                    },
                                    "BillingAddressCity": {
                                        "type": "string"
                                    },
                                    "BillingAddressLine": {
                                        "type": "string"
                                    },
                                    "BillingAddressPostCode": {
                                        "type": "string"
                                    },
                                    "BillingAddressState": {
                                        "type": "string"
                                    },
                                    "BillingCountryCode": {
                                        "type": "string"
                                    },
                                    "Comments": {
                                        "type": "string"
                                    },
                                    "CompanyName": {
                                        "type": "string"
                                    },
                                    "CurrencyCode": {
                                        "type": "string"
                                    },
                                    "Fax": {
                                        "type": "string"
                                    },
                                    "Phone": {
                                        "type": "string"
                                    },
                                    "TaxNumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CompanyName"
                                ],
                                "type": "object"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "properties": {
                                    "BillingAddress": {
                                        "type": "string"
                                    },
                                    "BillingAddressCity": {
                                        "type": "string"
                                    },
                                    "BillingAddressLine": {
                                        "type": "string"
                                    },
                                    "BillingAddressPostCode": {
                                        "type": "string"
                                    },
                                    "BillingAddressState": {
                                        "type": "string"
                                    },
                                    "BillingCountryCode": {
                                        "type": "string"
                                    },
                                    "Comments": {
                                        "type": "string"
                                    },
                                    "CompanyName": {
                                        "type": "string"
                                    },
                                    "CurrencyCode": {
                                        "type": "string"
                                    },
                                    "Fax": {
                                        "type": "string"
                                    },
                                    "Phone": {
                                        "type": "string"
                                    },
                                    "TaxNumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CompanyName"
                                ],
                                "type": "object"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "properties": {
                                    "BillingAddress": {
                                        "type": "string"
                                    },
                                    "BillingAddressCity": {
                                        "type": "string"
                                    },
                                    "BillingAddressLine": {
                                        "type": "string"
                                    },
                                    "BillingAddressPostCode": {
                                        "type": "string"
                                    },
                                    "BillingAddressState": {
                                        "type": "string"
                                    },
                                    "BillingCountryCode": {
                                        "type": "string"
                                    },
                                    "Comments": {
                                        "type": "string"
                                    },
                                    "CompanyName": {
                                        "type": "string"
                                    },
                                    "CurrencyCode": {
                                        "type": "string"
                                    },
                                    "Fax": {
                                        "type": "string"
                                    },
                                    "Phone": {
                                        "type": "string"
                                    },
                                    "TaxNumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CompanyName"
                                ],
                                "type": "object"
                            }
                        },
                        "text/xml": {
                            "schema": {
                                "properties": {
                                    "BillingAddress": {
                                        "type": "string"
                                    },
                                    "BillingAddressCity": {
                                        "type": "string"
                                    },
                                    "BillingAddressLine": {
                                        "type": "string"
                                    },
                                    "BillingAddressPostCode": {
                                        "type": "string"
                                    },
                                    "BillingAddressState": {
                                        "type": "string"
                                    },
                                    "BillingCountryCode": {
                                        "type": "string"
                                    },
                                    "Comments": {
                                        "type": "string"
                                    },
                                    "CompanyName": {
                                        "type": "string"
                                    },
                                    "CurrencyCode": {
                                        "type": "string"
                                    },
                                    "Fax": {
                                        "type": "string"
                                    },
                                    "Phone": {
                                        "type": "string"
                                    },
                                    "TaxNumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CompanyName"
                                ],
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "BillingAddress": {
                                        "type": "string"
                                    },
                                    "BillingAddressCity": {
                                        "type": "string"
                                    },
                                    "BillingAddressLine": {
                                        "type": "string"
                                    },
                                    "BillingAddressPostCode": {
                                        "type": "string"
                                    },
                                    "BillingAddressState": {
                                        "type": "string"
                                    },
                                    "BillingCountryCode": {
                                        "type": "string"
                                    },
                                    "Comments": {
                                        "type": "string"
                                    },
                                    "CompanyName": {
                                        "type": "string"
                                    },
                                    "CurrencyCode": {
                                        "type": "string"
                                    },
                                    "Fax": {
                                        "type": "string"
                                    },
                                    "Phone": {
                                        "type": "string"
                                    },
                                    "TaxNumber": {
                                        "type": "string"
                                    },
                                    "website": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CompanyName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "put": {
                "description": "Requires TaskID and a list of field names to update. The FieldsToUpdate field accepts a string array containing field names that should be updated.",
                "operationId": "Company_Put",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
                                        "TaxNumber": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "BillingAddress": {
                                            "type": "string"
                                        },
                                        "BillingAddressCity": {
                                            "type": "string"
                                        },
                                        "BillingAddressLine": {
                                            "type": "string"
                                        },
                                        "BillingAddressPostCode": {
                                            "type": "string"
                                        },
                                        "BillingAddressState": {
                                            "type": "string"
                                        },
                                        "BillingCountryCode": {
                                            "type": "string"
                                        },
                                        "Comments": {
                                            "type": "string"
                                        },
                                        "CompanyID": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "CompanyName": {
                                            "type": "string"
                                        },
                                        "Contacts": {
                                            "items": {
                                                "properties": {
                                                    "CompanyIDFK": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "CompanyName": {
                                                        "type": "string"
                                                    },
                                                    "ContactID": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "DateCreated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DateUpdated": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Firstname": {
                                                        "type": "string"
                                                    },
                                                    "Lastname": {
                                                        "type": "string"
                                                    },
                                                    "Mobile": {
                                                        "type": "string"
                                                    },
                                                    "Phone": {
                                                        "type": "string"
                                                    },
                                                    "PositionTitle": {
                                                        "type": "string"
                                                    },
                                                    "TimeZone": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "CurrencyCode": {
                                            "type": "string"
                                        },
                                        "DateCreated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DateUpdated": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "DefaultTradingTermIDFK": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "Fax": {
                                            "type": "string"
                                        },
                                        "Phone": {
                                            "type": "string"
                                        },
[...]
